
// @media (min-width: 768px) {
//     .media{
//         color: red;
//     }
// }
@media (min-width: 992px) {
    // .header{
    //     width: 100%;
    // }
    // .index{
    //     width: 100%;
    // }
}
@media (max-width: 1140px) {
    // .index{
    //     width: 80%;
    // }
}
@media (max-width: 767px) {
    .index{
        width: 60%;
    }
}

*{
    padding:0;
    margin:0;
}
body{
    background: #ffffff;
    width: 100%;
    min-width: 1200px;
}
li{
    list-style: none;
}
img{
    // width: 100%;
}
    html,body,#app{
        
       
     }
    

input{
    border-radius: 0 !important;
}
input:focus{
    outline: 1px solid #1596ad !important;
}
