.newDetail,.news{
    .main{
        background: #f0f0f0;
        padding-bottom: 50px;
        
    }
}
.newDetail{
    .content{
        width: 90%;
        // padding-top: 30px;
        margin: auto;
        .title{
            font-size: 20px;
            margin-bottom: 5px;
        }
        .time{
            color: rgb(180, 177, 177);
        }
    }
    .next{
        padding: 20px;
        .more{
            width: 110px;
            float: right;
            margin-top: 10px;
        }
        p{
            margin-bottom: 10px;
            font-size: 13px;
        }

    }
}
