
.menu{
    position: fixed;
    top: 45px;
    z-index: 1000;
    width: 100%;
    .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
        color: #1d8c9f;
        border-bottom: 2px solid #1d8c9f;
    }
    .ivu-menu-item {
        width: 50% !important;
        text-align: center !important;
    }
}
.new{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px dashed #ddd;
   
    .newImg{
        width: 140px !important;
        height: 90px;
    }
    .content{
        width: 52%;
        .title{
            font-size: 16px;
        }
        .describe{
            font-size: 13px;
            color: rgb(136, 136, 136);
        }
        div{
            display: flex;
            justify-content:space-between;
            font-size: 12px;
            margin-top: 5px;
            .more{
                cursor: pointer;
            }
        }
    }
    
}
.page{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 15px;
    bottom: -30px;
    .ivu-page-item-active a, .ivu-page-item-active:hover a {
        color: #e7d832;
    }
    .ivu-page-item-active {
         background-color: #fff;
         border: 1px solid #dddee1;
         a{
            color: #e7d832;
         }
    }
    .ivu-page-item:hover {
        border-color: #dddee1;
    }
}