.product{
    .goods{
        border-top: 1px solid #ddd;
        padding: 15px 0;
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                width: 33.3%;
                text-align: center;
                padding: 8px 0;
                font-size: 13px;
            }
            li.active{
                // display: inline-block;
                // width: 70px;
                // height: 2px;
                // background: #1d8c9f;
                color:#1d8c9f;
            }
            
        }
        ul.list li{
            width: 40%;
        }
    }
    .content{
        background: #f0f0f0;
        padding-bottom: 20px;
        p{
            width: 90%;
            margin: auto;
            background: #fff;
            padding: 15px;
            line-height: 25px;
            margin-top: -10px;
            font-size: 13px;
        }
    }
    .page{
        background: #f0f0f0;
        right: 0;
        padding: 20px;
        bottom: 0;
        top: -20px;
    }
}
