.school1{
    padding-bottom: 20px;
    p.txt{
        font-family: 宋体;
        width: 83%;
        margin: auto;
        padding-top: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        font-size: 14px;
    }
    span{
        color:#1d8c9f;
    }
    .school-imgs{
        margin-top: 20px;
        div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            img{
                width: 49%;
                height: 50%;
            }
        }
    }
}